<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
    <meta charset="utf-8">
    <!--    -->
    <link type="text/css" rel="stylesheet" th:href="@{/lib/h-ui/css/H-ui.min.css}"
          href="/static/lib/h-ui/css/H-ui.min.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/lib/Hui-iconfont/1.0.8/iconfont.min.css}"
          href="/static/lib/Hui-iconfont/1.0.8/iconfont.min.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/trace/css/base.css}"  href="/static/trace/css/base.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/lib/swiper/css/swiper.css}"
          href="/static/lib/swiper/css/swiper.css"/>
    <link type="text/css" rel="stylesheet" th:href="@{/lib/bootstrap/css/bootstrap.min.css}"
          href="/static/lib/bootstrap/css/bootstrap.min.css"/>
    <!--    <link type="text/css" rel="stylesheet" th:href="@{/trace/css/index.css}" href="/static/trace/css/index.css"/>-->
    <link type="text/css" rel="stylesheet" th:href="@{/trace/css/index.css}"
          href="/static/trace/css/index.css"/>

    <!--[if lt IE 9]>
    <script src="lib/H-ui/lib/html5shi.js"></script>
    <script src="lib/H-ui/lib/respond.min.js"></script>
    <script src="lib/H-ui/lib/PIE_IE678.js"></script>
    <![endif]-->
    <script type="text/javascript" th:src="@{/lib/jquery/jquery.min.js}"
            src="/static/lib/jquery/jquery.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/h-ui/js/H-ui.min.js}"
            src="/static/lib/h-ui/js/H-ui.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"
            src="/static/lib/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/lib/swiper/js/swiper.js}"
            src="/static/lib/swiper/js/swiper.js"></script>

    <title>预览</title>
</head>

</html>