<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
</body>
</html>
<script type="text/javascript" th:src="@{/plugins/jquery/jquery-2.1.4.js}"></script>
<script type="text/javascript"  th:src="@{/plugins/layer/2.4/layer.js}"></script>
<script src="http://res2.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
<script th:inline="javascript"> 
	var ctx = "sypt-wx" ;
	//var serialNumber = [[${serialNumber}]];
	//var fwCode = [[${fwCode}]];
	var appId = [[${wxJsapiSignature.appId}]];
	var timestamp = [[${wxJsapiSignature.timestamp}]];
	var nonceStr = [[${wxJsapiSignature.nonceStr}]];
	var signature = [[${wxJsapiSignature.signature}]];
	console.log(appId+"-"+timestamp+"-"+nonceStr+"-"+signature)
	$(function(){
		wx.config({
		    debug: false,
		    appId: appId,
		    timestamp: timestamp,
		    nonceStr: nonceStr,
		    signature: signature,
			jsApiList: ['checkJsApi','getLocation', 'openLocation', 'scanQRCode', 'addCard', 'openCard', 'chooseCard'] // 必填，需要使用的JS接口列表
		});
		
		wx.ready(function () {
//			getLocation()
            sys()
		});
		
		
	})
	
	function getLocation(){
		wx.getLocation({
			type: 'wgs84', // 默认为wgs84的gps坐标，如果要返回直接给openLocation用的火星坐标，可传入'gcj02'
		    success: function (res) {
		        var latitude = res.latitude; // 纬度，浮点数，范围为90 ~ -90
		        var longitude = res.longitude; // 经度，浮点数，范围为180 ~ -180。
		        var speed = res.speed; // 速度，以米/每秒计
		        var accuracy = res.accuracy; // 位置精度
		        sys(latitude,longitude);
		    },
		    cancel: function (res) {
		        //alert('用户拒绝授权获取地理位置');
		    	WeixinJSBridge.call('closeWindow');
		    }
		}); 
	}
	
	function sys() {
		wx.scanQRCode({
			needResult : 0, // 默认为0，扫描结果由微信处理，1则直接返回扫描结果，
			scanType : [ "qrCode", "barCode" ], // 可以指定扫二维码还是一维码，默认二者都有
			success : function(res) {
				var securityCode = res.resultStr; // 当needResult 为 1 时，扫码返回的结果
                console.log(securityCode)
				if(null != securityCode){
					securityCode = securityCode.substring(securityCode.indexOf("=")+1,securityCode.length);
					console.log(securityCode)
					var ii = layer.load(1, {
						  shade: [0.1,'#fff'] //0.1透明度的白色背景
					});
					if(securityCode == ''){
						layer.alert('扫码有误');
						return;
					}
					//latitude = '23.14951'
					//longitude = '113.400505'
					//alert('latitude='+latitude+', longitude='+longitude+', scanCode='+securityCode);
//			      	window.location.href= ctx + "luckDraw/luckDraw?code="+securityCode+"&latitude="+latitude+"&longitude="+longitude;
				}
			}
		});
	}
	
</script>