.mui-bar-nav {
    background-color: #008081;
}

.mui-bar-nav .mui-action-back {
    color: #FFFFFF !important;
}

.mui-bar-nav .mui-title {
    color: #ffffff;
}

.mui-btn-block {
    padding: 6px 12px;
}

.mui-btn-primary {
    border: 1px solid #008081;
    background-color: #008081;
}

.mui-btn-primary:active {
    border: 1px solid rgba(0, 128, 129, 0.63) !important;
    background-color: rgba(0, 128, 129, 0.63) !important;
}

.mui-pull-caption {
    cursor: pointer;
}

/**/
.search-form {
    padding: 10px;
}

.search-form input, .search-form button {
    float: left;
    height: 35px;
    border-radius: 0;
    border: 1px solid #008081;
    margin: 0;
}

.search-form input {
    width: 80%;
}

.search-form button {
    width: 20%;
    background-color: #008081;
    color: #ffffff;
}

.search-form button:active {
    background-color: rgba(0, 128, 129, 0.76);
}

/**/
.mui-saomiao {
    display: -webkit-flex;
    display: flex;
    border: 1px solid #008081;
    background-color: #ffffff;
}

.mui-saomiao .mui-icon {
    display: block;
    font-size: 25px;
    width: 40px;
    color: #008081;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.mui-icon-add {
    cursor: pointer;
}

.mui-saomiao input, .mui-saomiao button {
    height: 40px;
    margin: 0;
    border: 0;
    border-radius: 0;
}

.mui-saomiao input {
    background-color: #ffffff;
    width: 80%;
}

.mui-saomiao button {
    width: 20%;
    background-color: #008081;
    color: #ffffff;
}

.mui-saomiao button:active {
    background-color: rgba(0, 128, 129, 0.63) !important;
}

.mui-table-view li {
    cursor: pointer;
}