<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="col-sm-12">
			<div class="ibox">
				<div class="ibox-body">
					<div class="fixed-table-toolbar">
						<div class="columns pull-left">
							<button shiro:hasPermission="warehouse:warehouseManager:add" type="button" class="btn  btn-primary" onclick="add()">
								<i class="fa fa-plus" aria-hidden="true"></i>添加
							</button>
							<!--<button shiro:hasPermission="warehouse:warehouseManager:batchRemove" type="button" class="btn  btn-danger"-->
								<!--onclick="batchRemove()">-->
								<!--<i class="fa fa-trash" aria-hidden="true"></i>删除-->
							<!--</button>-->
						</div>
						<div class="columns pull-right">
							<button class="btn btn-success" onclick="reLoad()">查询</button>
						</div>
						<div class="columns pull-right col-md-2 nopadding">
							<input id="searchName" type="text" class="form-control"
								placeholder="">
						</div>
						<div class="columns pull-right col-md-3 col-sm-3 col-xs-3 nopadding">
							<div class="input-group">
                               <span class="input-group-btn">
                                  <button class="btn btn-default" type="button">仓库：</button>
                               </span>
								<select id="warehouseId" type="text" class="form-control chosen-select"
										data-placeholder="仓库" >
									<option value="">选择仓库</option>
								</select>
							</div>
						</div>
					</div>
					<table id="exampleTable" data-mobile-responsive="true">
					</table>
				</div>
			</div>
		</div>
	</div>
	<!--shiro控制bootstraptable行内按钮看见性 -->
		<div>
			<script type="text/javascript">
				var s_edit_h = 'hidden';
				var s_status_h = 'hidden';
				var s_resetPwd_h = 'hidden';
			</script>
		</div>
		<div shiro:hasPermission="warehouse:warehouseManager:edit">
			<script type="text/javascript">
				s_edit_h = '';
			</script>
		</div>
		<div shiro:hasPermission="warehouse:warehouseManager:remove">
			<script type="text/javascript">
				var s_status_h = '';
			</script>
		</div>

			<script type="text/javascript">
				var s_resetPwd_h = '';
			</script>

	</div>
	<div th:include="include :: footer"></div>
	<script type="text/javascript">
		function getWarehouseId() {
			$.ajax({
				cache : true,
				type : "GET",
				url : getContext()+"/warehouse/warehouse/all",
				// data : $('#signupForm').serialize(),// 你的formid
				async : false,
				error : function(request) {
					parent.layer.alert("Connection error");
				},
				success : function(data) {
					var itemList = data.data;
					var htmlText ="";
					for (var i in itemList){
						var item = itemList[i];
						htmlText += "<option value='"+item.warehouseId+"'> "+item.warehouseName+" </option>"
					}
					$("#warehouseId").append(htmlText);
				}
			});
		}
		$('#warehouseId').change(function () {
			reLoad();
		})

	</script>
	<script type="text/javascript" th:src="@{/js/appjs/warehouse/warehouseManager/warehouseManager.js}" src="/static/js/appjs/warehouse/warehouseManager/warehouseManager.js"></script>
</body>
</html>