<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.w3.org/1999/xhtml">
<meta charset="utf-8">
<meta name="proceduresId" th:content="${proceduresId}">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <a shiro:hasPermission="procedures:procedures:add" type="button" data-option="add"
                           data-name="proceduresId" th:attr="data-bind=${proceduresId}" class="btn  btn-primary">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </a>
                        <button shiro:hasPermission="procedures:procedures:batchRemove" type="button"
                                data-option="delBatch" class="btn  btn-danger">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="true">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
        var s_bind_h = 'hidden';
    </script>
</div>

<div>
    <script type="text/javascript">
        s_bind_h = '';
    </script>
</div>

<div shiro:hasPermission="procedures:procedures:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="procedures:procedures:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="procedures:procedures:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<script type="text/javascript" th:inline="javascript">
    window.ctxPath = /*[[@{/}]]*/ '';
</script>
<div th:include="include :: footer"></div>

<script type="text/javascript" th:src="@{/js/appjs/procedures/footlink/footlink.js}"
        src="/static/js/appjs/procedures/footlink/footlink.js"></script>
</body>
</html>