.swiper-container {
    width: 100% !important;
    height: 2.5rem !important;
}

.swiper-container .swiper-slide {
    width: 100% !important;
    height: 100% !important;
}

.swiper-container .swiper-slide img {
    width: 100% !important;
    height: 100% !important;
}
